* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('./fonts/webfontkit-20240715-043658-JosefinSans/josefinsans-regular-webfont.woff2') format('woff2'),
         url('./fonts/webfontkit-20240715-043658-JosefinSans/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    font-family: 'josefin_sansregular', sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

.main-container {
    display: flex;
    height: 100vh;
}

.banner-container {
    background-color: blanchedalmond;
    width: 33%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.banner-image {
    width: 100%;
    height: 100%;
    transform: scale(2.0);
    position: relative;
    bottom: 250px;
    right: 50px;
    object-fit: cover;
    
}

.logo-image {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 100%; /* Adjust this value as needed */
    max-height: 100%; /* Adjust this value as needed */
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 2;
}


.image-text a,
.image-text a:visited {
    color: inherit;
}

.banner-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity as needed */
    z-index: 1;
}

.form-container {
    width: 67%;
}


.form-container > * {
    width: 100%;
    height: 36%;
    padding: 3rem;
}


.form-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.form-message > * {
    margin: 0;
}

h2 > span {
    color: #6c7f9e;
}

p {
    font-size: 1.2rem;
}

form{
    display: flex;
    margin-top: 2rem;
    gap: 10%;
}

form > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    background-color: aliceblue;
    height: 28%;
    padding: 2rem 3rem 2rem 3rem;
    filter: drop-shadow(0px 5px 5px #5f6f9b);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-buttons > p {
    padding: 1rem 0rem 2rem 0rem;
}

.form-buttons > button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #6c7f9e;
}

.existing-login a {
    color: #6c7f9e;
    text-decoration: none;
}